header{
    background-image: url(../Imagenes/fondo.jfif);
    width: 100%;
    height: 800px;
    display: block;
    text-align: center;
}
h1{
    padding: 200px;
}
div ul{
    display: flex;
    justify-content: space-between;
}




body {
    background-color: black;
}

.titulo{
    text-align: center;
    color: white;
    font-size: 30px;
}
